span {

    padding: 20px, 20px;
    font-size: 50px;
    border: 1px solid #0e7dd7;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

header{

    background-color: bisque;
    text-align: center;
    font-size: 50px;
    padding: 10px 10px ;
}
form{
    display: flex; 
    flex-direction: column;
    padding: 10px 40px;

}
button{
    padding: 30px 0px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    
}
ul{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;


}
span:hover {
    background-color: #b7bfc5;
    color: white;
    font-weight: bold;
    cursor: 
}